/* 👉 CONTAINER 👈 */
.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width:360px) {
  .container{
    max-width: 100% !important;
    padding: 0px 5px 0px 5px;
  }
}

@media (min-width:361px) and (max-width:768px) {
  .container{
    max-width: 100% !important;
    padding: 0px 5px 0px 5px;
  }
}

@media (min-width:769px) and (max-width:1280px) {
  .container{
    max-width: 90% !important;
  }
}

@media (min-width:1281px) {
  .container{
    max-width: 70% !important;
  }
}

/* 👉 SCROLLBAR 👈 */
.scrollbar::-webkit-scrollbar, .scrollfix::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
.scrollfix::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-track, .scrollfix::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

.bt-rounded{
  background-color: #E4E6EB;
  border-radius: 25px;
  padding: 12px;
  color: rgb(56, 56, 56);
}

.bt-rounded:hover{
background-color: #d7d8db;
}

.bt-rounded-active{
  background-color: #f8cbda;
  border-radius: 50%;
  padding: 12px;
  color: #e91e63;
}